{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="row m-t-40">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        </div>
    {% endif %}
    <div class="row login--form-margin-top">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="row login--container">
                <div class="col-12 m-b-30 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('logo/logo-45x45.png') }}" alt="logo Eunnow">
                    <h3 class="font-weight-bold m-b-0 m-l-10">{{ 'global.login_label'|trans }}</h3>
                </div>
                <div class="col-12 col-md-8 offset-md-2 m-b-10">
                    <label for="inputEmail">{{ 'global.email_label'|trans }}</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="col-12 col-md-8 offset-md-2 m-b-10">
                    <label for="inputPassword">{{ 'global.password_label'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="col-12 text-center m-t-20">
                    <button class="btn btn-success" type="submit">
                        {{ 'global.sign-in_label'|trans|upper }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
