<div class="row article-alone--container m-t-20">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="row">
            <div class="col-12">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='dimgrey'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}" class="link-breadcrumb">{{ 'global.home_label'|trans }}</a></li>
                        {% if tagSlug is defined and tagSlug is not null %}
                            <li class="breadcrumb-item"><a href="{{ path('article_filter_by_tag', {'slug' : tagSlug}) }}" class="link-breadcrumb">{{ convert_slug_to_string(tagSlug)|capitalize }}</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">{{ 'article.label'|trans }}</li>
                    </ol>
                </nav>

            </div>
        </div>
        <div class="row">
            <div class="col-12 article-alone--date">{{ render_date(createdAt) }}</div>
            <div class="col-12 article-alone--title">
                <h1>{{ titre }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-12 article-alone-tags-container m-t-0">
                    {% for tag in tags %}
                        {{ component('tag', {
                            color       : tag.colorHexa,
                            intitule    : tag.intitule,
                            class       : 'article-alone--tag',
                            slug        : tag.slug
                        }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 article-alone--content">
                {{ content|raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 article-alone--author">{{ auteur }}</div>
        </div>
    </div>
</div>
